
<h2>Add a comment:</h2>
<%= form_with model: [ @post, @post.comments.build ] do |form| %>
  <span>


  <%=form.label :user%><br>
  <%=form.text_field :user %>
  <% @post.errors.full_messages_for(:user).each do |message| %>
  <div><%= message %></div>

  </span>
  <div>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
    <% @post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>